@model AuthProject.Models.Register

@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
        body {
            background-color: #f5f5f5;
        }

        h4 {
            color: #dc3545;
            text-align: center;
            font-weight: bold;
            margin-top: 20px;
        }

        hr {
            border: 2px solid #dc3545;
            margin-bottom: 20px;
        }

        form {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        .btn-primary {
            background-color: #dc3545;
            border-color: #dc3545;
        }

            .btn-primary:hover {
                background-color: #c82333;
                border-color: #bd2130;
            }

        .text-danger {
            color: #dc3545;
        }
    </style>
</head>
<body>

<h4>Register</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" required/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Back</a>
</div>

</body>
</html>
